/*Link Styling*/
a:active {
  background-color: hotpink;
}

a:visited {
  color: purple;
}

a:hover {
  background-color: yellow;
}

body {
  font-family: 'IBM Plex Serif', serif;
}

h1, h2, h3{
  font-family: 'Fjalla One', sans-serif;
}

body{
  background-color: #FFF9F1;
}


.grid{
  display: grid;
  max-width: 960px;
  grid-gap: 20px;
  grid-template-columns: 1fr;
}


.title-menu{
    display: grid;
    max-width: 960px;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

.about-me{
    display: grid;
    max-width: 960px;
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }

.education-courses{
    display: grid;
    max-width: 960px;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

.languages-projects{
    display: grid;
    max-width: 960px;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

.work-expierence{
    display: grid;
    max-width: 960px;
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }

.volunteer-awards{
    display: grid;
    max-width: 960px;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

.leadership-activities{
    display: grid;
    max-width: 960px;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

#box-model {
  background-color: #ECE5DB;
  width: 300px;
  border: 10px solid pink;
  padding: 10px;
  margin: 10px;
}
