@media screen and  (max-width: 959px){
/*Body Health*/
  h1{
        width:100%;
  }


  .fruits{
    width:100%;
  }

  .tea{
    width:100%;
  }

  .water{
    width:100%;
  }

  .planner{
    width:100%;
  }

  .moderation{
    width:100%;
  }

  .homemade{
    width:100%;
  }

  .acv{
    width:100%;
  }
  .footer{
        width:100%;
  }


/*Organization html*/
.comfort{
width:100%;
}

.todo{
  width:100%;
}

.planner{
  width:100%;
}

.schoolwork{
  width:100%;
}

.button{
  width:100%;
}



/*Mindful Practices*/
.incense{
  width: 100%;
}

.plants1{
  width: 100%;
}


.pamper{
  width: 100%;
}

.meditate{
  width: 100%;
}

.blessings{
  width: 100%;
}

.bath{
  width: 100%;
}

.pet{
  width: 100%;
}
}
@media screen and  (max-width: 640px){
  /*Body Health*/

  h1{
        width:100%;
  }


  .fruits{
    width:100%;
  }

  .tea{
    width:100%;
  }

  .water{
    width:100%;
  }

  .planner{
    width:100%;
  }

  .moderation{
    width:100%;
  }

  .homemade{
    width:100%;
  }

  .acv{
    width:100%;
  }

.footer{
      width:100%;
}



/*Organization Html*/
.comfort{
width:100%;
}

.todo{
  width:100%;
}

.planner{
  width:100%;
}

.schoolwork{
  width:100%;
}

.button{
  width:100%;
}

/*Mindful Practices*/
.incense{
  width: 100%;
}

.plants1{
  width: 100%;
}


.pamper{
  width: 100%;
}

.meditate{
  width: 100%;
}

.blessings{
  width: 100%;
}

.bath{
  width: 100%;
}

.pet{
  width: 100%;
}


}

/*Iphone X is 375px*/
@media screen and  (max-width: 320px){
/*Body Health*/

  h1{
        width:320px;
  }

  .fruits{
    width:320px;
  }

  .tea{
    width:320px;
  }

  .water{
    width:320px;
  }

  .planner{
    width:320px;
  }

  .moderation{
    width:320px;
  }

  .homemade{
    width:320px;
  }

  .acv{
    width:320px;

}
.footer{
      width:320px;
}



/*Organization Html*/
.comfort{
width:320px;
}

.todo{
width:320px;
}

.planner{
  width:320px;
}

.schoolwork{
  width:320px;
}

.button{
  width:320px;
}

/*Mindful Practices*/
.incense{
  width:320px;
}

.plants1{
  width:320px;
}


.pamper{
  width:320px;
}

.meditate{
  width:320px;
}

.blessings{
  width:320px;
}

.bath{
  width:320px;
}

.pet{
  width:320px;
}
}
